.no-padding{
  padding: 0;
}

.banner{
  background-image: url('/dp.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 66.667vh;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.text-shadow{
  text-shadow: 1px 1px rgba(0,0,0,.7);
}