@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  text-align: center;
}
.banner{
  position: relative;
  padding: 0;
  margin: 0 auto 2rem auto;
  max-width: 40rem;
}
.banner__media{
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 24px 2px rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 4px;
  filter: grayscale(0.5);
}

.banner .label{
  position: absolute;
  top: 45%;
  width: 40%;
  left: 30%;
}

.label{
  display: inline-block;
  padding: 0.25rem 0.5rem;  
  font-weight: 800;
  border-radius: 4px;
}

.label--warning{
  background-color: #d32f2f;
  color: #FFF;
}

.header{
  margin: 2rem 0;
  height: auto;
}

.header__logo{
  width: 4rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 12px 0px #b1b4b7;
}

.header__heading{
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.header__heading--primary{
  margin: 0;
}

.header__heading--secondary{
  color: #999;
}

.intro {
  max-width: 40rem;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: calc(1.5 * 1.1rem);
  margin: 0 auto 2rem auto;
}